// COVID

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap')


*, *::after, *::before, p, a
  box-sizing: border-box
  margin: 0
  padding: 0

html
  overflow-x: hidden
  overflow-y: scroll
  background-color: #ffffff

.container
  max-width: 1000px
  padding: 0 35px
  margin: 0 auto
